{% extends "base.html.twig" %}

{% block body %}
    <h1>Titre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo aperiam similique porro doloremque numquam quaerat dicta eos pariatur cum, corrupti dignissimos ea! Deserunt voluptates ad perspiciatis aperiam dolor consequatur?</p>
{% endblock %}